<main>
    <br>
    
    <center>
        <div class="Dlogin">
            <img src="img/logo-trans.png">
                <br>
            <input type="text" placeholder="Nombre">
                <br>
                <br>
            <input type="text" placeholder="Contraseña">
            <img src="img/botones/boton-ingreso.png" class="Dboton">
            <img src="img/botones/boton-registrarse.png" class="Dboton">
        </div>
    </center>
</main>