<% if (mensaje && mensaje.length > 0) { %>
    <div class="mensaje-flash">
        <p><%= mensaje %></p>
    </div>
    <% mensaje = null; %>
<% } %>
    <main>
        <form action="/regis" method="POST">
            <div class="Dform">
                <h2>Registrarse</h2>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    <br>
                    <br>
                <input type="text" name="correo" id="correo" placeholder="Correo" required>
                    <br>
                    <br>
                <input type="text" name="clave" id="clave" placeholder="Contraseña" required>
                    <br>
                    <br>
                <input type="text" name="celular" id="celular" placeholder="Celular" required>

                <div class="botones">
                    <img onclick="window.history.back()" src="img/botones/boton-atras.png" alt="Registrarse" class="Dboton">
                    <input type="image" src="img/botones/boton-registrarse.png" alt="Ingresar" class="Dboton">
    
                </div>
            </div>
        </form>
    </main>

